#menus{
    margin-right: 40px;
    font-weight: bold;
}

#nav .menus_items .menus_item .menus_item_child {
    right: -6px;
    background-color: #ffffffbf;
}

/* #nav .menus_items .menus_item .menus_item_child a:hover{
    background-color: rgb(159, 164, 192);
} */